@keyframes Dog-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes Dog-spin-reverse {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}